*~
.DS_Store
.#*
Thumbs.db
*.elf
*.hex
*.eep
*.lst
*.bin
.gdb*
gdb.txt
rem.txt
docs/mculist.pptx
ispprog/ispprog.ino
tests/oop/Makefile
tests/tictactoe/Makefile
testprobe/testprobe.ino
examples/pio-varblink/.vscode