# Build.yml
# Github workflow script to test compile all examples of an Arduino repository.
#
name: Build

on:
  workflow_dispatch: # To run it manually
  push: # 
    paths:
    - '**.ino'
    - '**.cpp'
    - '**.h'
  pull_request:

jobs:
  compile:
    runs-on: ubuntu-latest # I picked Ubuntu to use shell scripts.

    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Install Arduino CLI
        uses: arduino/setup-arduino-cli@v2

      - name: Generate firmware
        run: arduino-cli compile -b arduino:avr:uno dw-link.ino 
